html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-family: Tahoma;
    background-color: azure;
}

header{
    padding: 20px;
}

h1{
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
}

.main{
    width: 100%;
    height: 400px;
}

.main>form{
    width: 200px;
    margin: 0 auto;
}

footer{
text-align: center;
}

.nav>ul>li, a{
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
    color: #0072BC;

}

table{

}


