html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-family: Tahoma;
    background-color: #EEEEEE;
}

@media screen and (max-device-height: 1080px){
    body {
        width: 100%;
        height: 800px;
    }
}

header {
    padding: 20px;
    background-color: cadetblue;
    margin-bottom: 20px;
    height: 10%;
}

#admminHeader{
    background-color: orange;
}
#adminTitle{
    display: inline-block;
    width: 300px;
    font-size: 30px;
}


h1 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
}

h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
}

h3{
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
}

h4{
    font-size: 15px;
    text-align: center;
    margin-bottom: 30px;
}

#logo{
    display: inline-block;
    float: left;
}

#logedInBox{
    display: inline-block;
    float: right;

}

.nav{
    display: inline-block;
    vertical-align: bottom;
    margin-top: 40px;

}

.nav > ul > li{
    padding: 10px;
}

.nav > ul > li, a {
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
    color: #0072BC;
}

.main {
    width: 90%;
    min-height: 90%;
    margin: 0 auto;
}

.main > form {
    width: 200px;
    margin: 0 auto;
}

footer {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

table {
    width: 70%;
    margin: 0 auto;
    display: inline-block;
}
.answeredUserId {
    text-align: left;
    padding: 10px;
}

.answeredContent{
    padding: 10px;
}

.responsesTable{
    width: 70%;
    margin: 0 auto;
}

.responsesTable, .responsesTable>tr, .responsesTable>td{
    box-shadow: 0 2px 15px #888888;
    padding: 20px;
    text-align: justify;
}

#questionBox {
    width: 70%;
    margin: 0 auto 30px;
    background-color: #ffffff;
    box-shadow: 0 2px 15px #888888;
    text-align: justify;
    padding: 20px;
}

textarea{
    width: 700px;
    height: 250px;
}

.profileTable{
    width: 30%;
    margin: 0 auto;
    box-shadow: 0 2px 15px #888888;
    padding: 20px;
    text-align: justify;
}

.userProfileTd{
    padding-left: 20px;
    padding-right: 20px;
}

.categoriesSidebar{
    display: inline-block;
    float: right;
    list-style-type: none;
    margin: 10px;
}

.categoriesSidebar>li{
    padding: 2px;

}

.tagsSidebar{
    display: inline-block;
    float: right;
    list-style-type: none;
    margin: 10px;
}

.tagsSidebar>li{
    padding: 2px;

}

.questionsList{
    display: inline-block;
    list-style-type: none;

    padding-left: 45%;
}
.questionsList>li{
    padding: 10px;
}
/*table, tr, th,td{*/
    /*border: 1px solid black;*/
/*}*/

.deleteButton>a{
    color: red;
}

#addCategoryForm{
    display: inline-block;
    float: right;
}

.okBox {
    background-color: green;
}

.infobox {
    background-color: orange;
}

.warningBox {
    background-color: red;
}